﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Hello</h2>

<div>
    <p>And this is the message I have for you my friend!: </p>
    <p>
        <i>@ViewBag.Message</i>
    </p>
</div>
