﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Login</h2>
<form action="@Url.Action("Index", "Authentication")" method="post">
    <fieldset>
        <legend>Set your credentials</legend>
        <label for="username">Username: </label>
        <input id="username" name="username" type="text" placeholder="Your username" value="@ViewBag.username" />
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" placeholder="Your password" />
        <button type="submit" class="btn">Login</button>
        <input type="hidden" value="@ViewBag.returnUrl" />
    </fieldset>
</form>